<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.basemusicapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_avt"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_avt"
        android:supportsRtl="true"
        android:theme="@style/FullScreen">
        <activity android:name=".ui.SongsFromAlbumActivity"></activity>
        <activity android:name=".ui.PlaySongActivity" />
        <activity android:name=".ui.Content">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".Service.ManagerPlayMusicService" />
        <receiver android:name=".Service.PassEventNotification"/>
    </application>

</manifest>